.home{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 20px;
}


.home-msg{
    font-size: 40px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: -50px;
    transition: all 0.5s ease-in-out;
    height: 100vh;
   
}

.bienvenu{
    font-size: 45px;
    font-weight: bold; 
    letter-spacing: 20px;
    background: #0000006c;
    color: #ffffff;
    border-radius: 10px;
   
}
// .home-msg:hover{
//     transform: translateX(40px);
// }

.infos{
    transition: all 0.5s ease-in-out;
    margin-top: 50px;

}
.infos:hover{
    transform: translateY(50px);
}

.image-info{
    transition: all 0.5s ease-in-out;
    margin-top: 50px;
}
.image-info:hover{
     transform: scale(1.1);
}

.infos p{
font-family: 'Roboto' sans-serif;
font-size: 20px;
margin: 10px;
}

.btn-dark{
    margin:20px;
    width: 55%;
    height: 50px;
   
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
   
}
.btn-dark .fa-solid{
    margin-left: 20px;
}
.btn-dark a{
     text-decoration: none;
      font-family: sans-serif;
       font-size: 20px;
       color:rgb(207, 206, 206)
}

.btn-dark:hover{
    transform: translateX(5px);
}
.section-cate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.titreechan{
    margin: 40px;
}

.brand-img{
    height: 400px;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(255, 255, 255),rgb(241, 241, 241));
    height: 80vh;
    width: 100%;
    
}

.smart{
    margin: 20px;
    font-size: 50px;
    font-family: 'Roboto';
    font-weight: bold;
}

.st{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-family: sans-serif;
    font-size: 20px;
    
}
