.container{
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
}

.titre-carousel{
    margin-bottom: 40px;
    font-family: sans-serif;
    margin-left: 900px;
    background: rgb(230, 62, 62);
    height: 50px;
    color: #e4e5e9;
    padding:5px ;
}