.panier{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.card-panier{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: 10px;
    border-bottom: 2px solid #000;
}

.card-image-panier{
    display: flex;
    flex-direction: row;
}

.imagePanier{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    &:hover{
        transform: scale(1.03);
    }
}
.card-body-panier{
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 120px;

}

.card-body-panier h2{
    font-size: 18px;
}
.card-name-panier,.card-price-panier,.card-color,.card-taille,.card-pointure{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
    width: 100px;
    height: 20px;
    
}

.btn-card-remove{
    background: radial-gradient(rgb(243, 0, 0),rgb(201, 11, 11));
    color:#fff;
    font-size: 20px;
    margin-bottom: -240px;
    margin-left: 100px;
    width: 130px;
    font-family: sans-serif;
    &:hover{
        color:#cdcdcd
    }
}

.btn-card-remove .fa-trash{
    margin:5px;
    font-size: 18px;
}

// .card-price-panier{
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     margin:10px;
//     width: 100px;
// }

.card-qty{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.card-qty h1{
    margin-top:15px;
}
.card-body-panier h1{
    border-bottom: 1px solid #000;
    font-size: 20px;
    
}

.btn-incrementation{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.btn-incrementation h2{
    margin-left:10px;
    margin-right: 10px;
}

.btn-plus{
    background: rgb(40, 167, 240);
    
    color: #e8e8e8;
    font-size: 20px;
    font-weight: 700;
    
    &:hover{
        background: rgb(6, 147, 228)
    }
}

.btn-minus{
    background: rgb(16, 231, 70);
    color:#e8e8e8;
    font-size: 20px;
    font-weight: 700;
    &:hover{
        background: rgb(16, 231, 70);
    }
}
.btn-commande{
    background: radial-gradient( rgb(170, 115, 37),rgb(136, 91, 7) ); 
    color:#fff;
    font-family: sans-serif;
    font-weight: 700;
}
.commande{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-commande .fa-solid{
    margin: 10px;
    font-weight: 700;
    font-size: 18px;
   
}
.paniervide h2{
    font-family: 'Roboto'sans-serif;
    font-size: 40px;
}
