.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    // border: 3px solid #000;
    // width: 95px;
    // border-radius:100px ;
    // transition: all 0.5s ease-in-out;
    //  &:hover{
    //     width: 350px;
        
    // }
}
.inputsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50px;
    width: 60px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
    border-left: 3px solid rgba(0, 0, 0, 0.123);
     border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto';
    transition: all 0.5s ease-in-out;
    border: 3px solid #000;
    &:hover{
       width: 400px;
       
   }
   
}
.btn-search{
    height: 50px;
    border: 3px solid #000;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 3px solid rgba(0, 0, 0, 0);
}
.fa-sharp{
    font-size: 20px;
}