.spinner{
    display: flex;
    margin: 85px;
    justify-content: center;
    align-items: center;
}

.spinner-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:400px;
    margin-top:200px ;
}