.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 900px;
    height: 400px;
   
}

.img-slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all 3s ease-in-out;
//     animation: translate 10s infinite ease-in-out ;
//    @keyframes translate {
//         0%{transform: translateX(1200);}
//         10%{transform: translateX(1200);}
//         33%{transform:translateX(1250px)}
//         43%{transform:translateX(1200px)}
//         63%{transform: translateX(1200px);}
//         73%{transform: translateX(-1200px);}
//         100%{transform: translateX(-1200px);}
//     }
    width: 350px;
    height: 450px;
   
}

.img-slide:hover{
   transform: rotateY(360deg);
}