.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.img-slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all 3s ease-in-out;
    width: 400px;
    height: 400px;
}

.img-slide:hover{
   transform: rotateY(360deg);
}